<div class="container">
<div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
        <button class="book-now-button" mat-stroked-button color="primary">
           Užsakyti Dabar
        </button>

    </div>
</div>
<div class="header-container" fxLayout="row" fxLayout="colmn" fxLayoutAlign="center center">
    <div >
        <h3 class="mat-subheading-2">
            SODYBA DUBINGA           
        </h3>
        <h1 class="mat-headline">
            Vertinantiems, blaivų ir kokybišką poilsį, natūralų gamtos grožį
         </h1>
    </div>
</div>
</div>
